html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #24292e;
  color: #e6e6e6;
}
h1 {
  text-shadow: 0px 2px #000;
  text-align: center;
}
a {
  text-decoration: none;
}
.container {
  display: flex;
}
h2 {
  margin-left: 75px;
  text-shadow: 0px 2px #000;
  border-left: 4px solid #545454;
  border-radius: 3px;
  padding-left: 6px;
}
.hardware {
  background-color: #2f363d;
  border-radius: 6px;
  border: 3px solid #586069;
  text-align: left;
  margin-left: 75px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: #ccc;
}
.images img {
  border-radius: 13px;
  border: 3px solid #586069;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 70px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 2px solid #586069;
  background-color: #2f363d;
  transform: translateX(-90%);
  transition: transform 0.5s ease-out;
  padding: 3px;
}

@keyframes slideUp {
  0% {
    transform: translateY(200%);
  }
  50% {
    transform: translateY(0);
  }
  100% {
  }
}

body {
  animation: slideUp 2s ease-in-out;
}

body.animate {
  animation: slideUp 2s ease-in-out;
}
